[DIT_setup_config]
prcDetails =config/process/
prcMapping =config/process/
srcDetails =config/source/
srcCols = config/source/
destDetails= config/dest/
destCols = config/dest/
tptFolder = config/

[DIT_Kafka_config]
KAFKA_BROKERS= 10.0.75.1:9092
API_VERSION= (0,10,1)
TOPIC=test
GROUP_ID=pyhton_grp_id
AUTO_OFFSET_RESET=earliest
ENABLE_AUTO_COMMIT=True
LOG_DIR=C:/Users/sk250102/Documents/Teradata/DIT/DataIngestionTool/test_dataIngestionTool/trgLoc/



[DIT_TEST_CASE_config]
SPARK_CONF_DIR_CSV = TestFiles/TestCsvToCsv/conf
DEST_LOC_CSV = TestFiles/TestCsvToCsv/destLoc/
DB_LOC_CSV_JDBC = TestFiles/TestCsvToCsv/csvtest.db
DB_LOC_CSV_WAREHOUSE = TestFiles/TestCsvToCsv/warehouse
DB_LOC_CSV_DERBY = TestFiles/TestCsvToCsv/derby

SPARK_CONF_DIR_HIVE = TestFiles/TestHiveToHive/conf
DEST_LOC_HIVE = TestFiles/TestHiveToHive/destLoc
DB_LOC_HIVE_JDBC = TestFiles/TestHiveToHive/hivetest.db
DB_LOC_HIVE_WAREHOUSE = TestFiles/TestHiveToHive/warehouse
DB_LOC_HIVE_DERBY = TestFiles/TestHiveToHive/derby


SPARK_CONF_DIR_JDBC = TestFiles/TestJdbcToJdbc/conf
DEST_LOC_JDBC = TestFiles/TestJdbcToJdbc/destLoc
DB_LOC_JDBC = TestFiles/TestJdbcToJdbc/test.db
DB_LOC_JDBC_WAREHOUSE = TestFiles/TestJdbcToJdbc/warehouse
DB_LOC_JDBC_DERBY = TestFiles/TestJdbcToJdbc/derby


SPARK_CONF_DIR_FXDWDTH = TestFiles/TestFixedWidth/conf
DEST_LOC_FXDWDTH = TestFiles/TestFixedWidth/destLoc
DB_LOC_FXDWDTH_JDBC = TestFiles/TestFixedWidth/fixedWidthtest.db
DB_LOC_FXDWDTH_WAREHOUSE = TestFiles/TestFixedWidth/warehouse
DB_LOC_FXDWDTH_DERBY = TestFiles/TestFixedWidth/derby