[DIT_setup_config]
prcDetails =config\\process\\
prcMapping =config\\process\\
srcDetails =config\\source\\
srcCols = config\\source\\
destDetails= config\\dest\\
destCols = config\\dest\\
tptFolder = config\\

[DIT_Kafka_config]
KAFKA_BROKERS= 10.0.75.1:9092
TOPIC=test
GROUP_ID=pyhton_grp_id
AUTO_OFFSET_RESET=earliest
ENABLE_AUTO_COMMIT=True
LOG_DIR=C:\\Users\\sk250102\\Documents\\Teradata\\DIT\\DataIngestionTool\\test_dataIngestionTool\\trgLoc\\



[DIT_TEST_CASE_config]
DB_LOC = TestFiles//TestJdbcToJdbc//test.db
SPARK_CONF_DIR_JDBC = TestFiles\\TestJdbcToJdbc\\conf
SPARK_CONF_DIR_HIVE = TestFiles\\TestHiveToHive\\conf
